<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{title}}</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">

  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="/stylesheets/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="/stylesheets/style.min.css" rel="stylesheet">
  <style>

    .map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
.editpage_lab{
  padding-left: 20px;
  font-weight: bold;
}

  </style>

</head>

<body class="grey lighten-3">

  <!--Main Navigation-->
  <header>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
      <div class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="#" target="_blank">
          <strong class="blue-text">后台</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- Left -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link waves-effect" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>

          </ul>

        </div>

      </div>
    </nav>
    <!-- Navbar -->

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">

      <a class="logo-wrapper waves-effect">
        <img src="img/logo/logo.png" class="img-fluid" alt="">
      </a>

      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item active waves-effect">
          <i class="fas fa-chart-pie mr-3"></i>后台
        </a>
        <a href="#" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-user mr-3"></i>1</a>

      </div>

    </div>
    <!-- Sidebar -->

  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">

      <!-- Heading -->
      <div class="card mb-4 wow fadeIn">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">

          <h4 class="mb-2 mb-sm-0 pt-1">
            <a href="#" target="_blank">{{title}}</a>
            <span>/</span>
            <span> 详情页</span>
          </h4>

          <form class="d-flex justify-content-center" method="get">
            <!-- Default input -->
            <input type="search" placeholder="输入电话" aria-label="Search" class="form-control" name="findphone">
            <button class="btn btn-primary btn-sm my-0 p" type="submit">
              <i class="fas fa-search"></i>
            </button>

          </form>

        </div>
      </div>

      <!-- Heading -->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            <div class="card-body">

              <!-- Table  -->
              <table class="table table-hover" style="width:600px;">
                <!-- Table body -->
                <tbody>

                  <tr><td colspan="3" class="editpage_lab">电话</td></tr>
                  <tr><td colspan="3" style="border-top: none;"><input type="text" name="phone" readonly="readonly" value="{{data.photo}}"></td></tr>

                  <!-- 1.点击查看   2.修改  TODO -->
                  <tr>
                    {{#if image}}
                        <td id="photoedittd">照片点此查看</td>
                      {{else}}
                        <td id="photoedittd">暂无图片</td>
                      {{/if}}
                      <td id="photoinput" style="display: none;"><input type="text" id="photoimage" value="{{image}}"></td>
                      <td colspan="2">
                        <a href="javascript:void(0);" id="photoedit">修改</a>
                        <a href="javascript:void(0);" id="photoeditcancle" style="display: none;">取消</a>
                      </td>
                  </tr>

                  <tr><td colspan="3" class="editpage_lab">历史备注</td></tr>
                  <tr><td colspan="3" style="border-top: none;"><textarea id="editoldmes" style="width: 500px;height: 100px;"></textarea></td></tr>

                  <tr><td colspan="3" class="editpage_lab">最新备注</td></tr>

                  <!-- 1.遍历多条消息记录   2.新增  TODO-->
                  {{#each data.note}}
                  <tr class="newnotelist">
                      <td style="border-top: none;">
                        <textarea name="newtips" style="width: 240px; min-height: 120px;">{{mes}}</textarea>
                      </td>
                      <td style="border-top: none;">{{username}}</td>
                      <td style="border-top: none;" class="datetimeshow">{{date.$numberLong}}</td>
                  </tr>
                  {{/each}}



                  <tr>
                    <td><a href="#" id="editsubmit" class="list-group-item active waves-effect">提交</a>
                  </tr>


                </tbody>
                <!-- Table body -->
              </table>
              <!-- Table  -->

            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->


      </div>
      <!--Grid row-->
    </div>
  </main>
  <!--Main layout-->

  <!--Footer-->
  <footer class="page-footer text-center font-small primary-color-dark darken-2 mt-4 wow fadeIn">

    <hr class="my-4">

    <!-- Social icons -->
    
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3"> © 2019 Copyright: MDBootstrap - More Templates <a href="#" target="_blank" title="xx">xx</a> - Collect from <a href="#" title="xx" target="_blank">xx</a>
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="javascripts/jquery-3.4.1.min.js"></script>
  <script type="text/javascript">
    $('#photoedit').click(function(){
      $('#photoedittd').hide();
      $('#photoinput').show();

      $('#photoedit').hide();
      $('#photoeditcancle').show();
    });

    $('#photoeditcancle').click(function(){
      $('#photoedittd').show();
      $('#photoinput').hide();

      $('#photoedit').show();
      $('#photoeditcancle').hide();
      $('#photoimage').val('');
    })


    $('.datetimeshow').each(function(){
      if($(this).html()){
        var _datetime = new Date(parseInt($(this).html()));

        var Y = _datetime.getFullYear() + '-';
        var M = (_datetime.getMonth()+1 < 10 ? '0'+(_datetime.getMonth()+1) : _datetime.getMonth()+1) + '-';
        var D = (_datetime.getDate() < 10 ? '0' + (_datetime.getDate()) : _datetime.getDate()) + ' ';
        var h = (_datetime.getHours() < 10 ? '0' + _datetime.getHours() : _datetime.getHours()) + ':';
        var m = (_datetime.getMinutes() <10 ? '0' + _datetime.getMinutes() : _datetime.getMinutes()) + ':';
        var s = (_datetime.getSeconds() <10 ? '0' + _datetime.getSeconds() : _datetime.getSeconds());
        $(this).html(Y+M+D+h+m+s);  
      }
      
    })


    var _changed = false;
    $('#editsubmit').click(function(){

      var _editoldmes = $('#editoldmes').val();
      var _image = $('#photoimage').val();

      //判断新旧值. 有没有变化
      
      var notelist = [];

      $('.newnotelist').each(function(index){
        var _note = {};

        _note.mes = $(this).children().find('textarea').val();
        _note.username = $(this).children().eq(1).html();
        var _time = Date.parse($(this).children().eq(2).html());
        _note.date = {}
        _note.date.$numberLong = _time;

        notelist.push(_note);

        // console.log($(this).children().find('textarea').html());
        // console.log($(this).children().eq(1).html());
        // console.log($(this).children().eq(2).html());
      })
      console.log(notelist);
      if(_changed){

        notelist = JSON.stringify(notelist);
        $.post("",{'action':'doedit','image':_image,'oldnote':_editoldmes,'note':notelist},function(result){
          if(result){
            alert('删除成功');
            location.reload();
          }else{
            alert('删除失败,请刷新页面,稍后再试');
          }
        });
      }else{
        alert('没有任何变化,无法提交');
        return false;
      }

    });

    $('input,textarea').change(function(){
      _changed = true;
    })

  </script>
</body>

</html>
