<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{title}}</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">

  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="/stylesheets/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="/stylesheets/style.min.css" rel="stylesheet">
  <style>

    .map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
  </style>
</head>

<body class="grey lighten-3">

  <!--Main Navigation-->
  <header>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
      <div class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="#" target="_blank">
          <strong class="blue-text">后台</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- Left -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link waves-effect" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>

          </ul>

        </div>

      </div>
    </nav>
    <!-- Navbar -->

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">

      <a class="logo-wrapper waves-effect">
        <img src="img/logo/logo.png" class="img-fluid" alt="">
      </a>

      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item active waves-effect">
          <i class="fas fa-chart-pie mr-3"></i>后台
        </a>
        <a href="#" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-user mr-3"></i>1</a>

      </div>

    </div>
    <!-- Sidebar -->

  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">

      <!-- Heading -->
      <div class="card mb-4 wow fadeIn">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">

          <h4 class="mb-2 mb-sm-0 pt-1">
            <a href="#" target="_blank">{{title}}</a>
            <span>/</span>
            <span> 列表页</span>
          </h4>

          <form class="d-flex justify-content-center" method="get">
            <!-- Default input -->
            <input type="search" placeholder="输入电话" aria-label="Search" class="form-control" name="findphone">
            <button class="btn btn-primary btn-sm my-0 p" type="submit">
              <i class="fas fa-search"></i>
            </button>

          </form>

        </div>

      </div>
      <!-- Heading -->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            <div class="card-body">

              <!-- Table  -->
              <table class="table table-hover">
                <!-- Table head -->
                <thead class="blue-grey lighten-4">
                  <tr>
                    <th width="100">phone</th>
                    <th width="100">name</th>
                    <th width="100">photo</th>
                    <th>note</th>
                    <th width="100">操作</th>
                  </tr>
                </thead>
                <!-- Table head -->

                <!-- Table body -->
                <tbody>

{{#each data.payload}}
                  <tr>
                    <th scope="row">{{photo}}</th>
                    <td>{{name}}</td>
                    <td>
                      {{#if image}}
                      <a href="{{image}}" target="_blank">点击查看</a>
                      {{else}}
                        暂无图片
                      {{/if}}
                    </td>
                    <td>{{note.0.mes}}</td>
                    <td>
                      <a class="editbutton" href="javascript:void(0);" data-id="{{photo}}">修改</a>
                      &nbsp;&nbsp;
                      <a class="delbutton" href="javascript:void(0);" data-id="{{photo}}">删除</a>
                    </td>
                  </tr>
{{/each}}


                </tbody>
                <!-- Table body -->
              </table>
              <!-- Table  -->

            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->


      </div>
      <!--Grid row-->
    </div>
  </main>
  <!--Main layout-->

  <form method="post" style="display: hidden" id="formgotoeditpage">
    <input type="hidden" name="action" value="edit">
    <input type="hidden" id="formphone" name="phone" value="{{data.findphone}}">
  </form>

  <form method="post" style="display: hidden" id="formgotonextpage">
    <input type="hidden" id="currentpage" name="next" value="{{data.next}}">
  </form>

  <!--Footer-->
  <footer class="page-footer text-center font-small primary-color-dark darken-2 mt-4 wow fadeIn">

    <!--Call to action-->
    <div class="pt-4">
      <a class="btn btn-outline-white" href="#" role="button" id="prepage">上一页
        <i class="fas fa-fast-backward ml-2"></i>
      </a>
      <span>{{data.next}}</span>
      <a class="btn btn-outline-white" href="#" role="button" id="nextpage">下一页
        <i class="fas fa-fast-forward ml-2"></i>
      </a>
    </div>
    <!--/.Call to action-->

    <hr class="my-4">

    <!--Copyright-->
    <div class="footer-copyright py-3"> © 2019 Copyright: MDBootstrap - More Templates <a href="#" target="_blank" title="xx">xx</a> - Collect from <a href="#" title="xx" target="_blank">xx</a>
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="javascripts/jquery-3.4.1.min.js"></script>
  <script type="text/javascript">
    //去详情页
    $('.editbutton').click(function(){
      var _id = $(this).data('id');

      if(_id>0){
        $('#formphone').val(_id);
        $('#formgotoeditpage').submit();
      }else{
        alert('系统异常,请刷新页面,稍后再试');
      }
    });

    //删除
    $('.delbutton').click(function(){
      var _id = $(this).data('id');

      if(_id>0){
        //post 删除
        $.post("",{action:'remove',phone:_id},function(result){
          console.log(result);
          if(result){
            alert('删除成功');
            location.reload();
          }else{
            alert('删除失败,请刷新页面,稍后再试');
          }
        });
      }else{
        alert('系统异常,请刷新页面,稍后再试');
      }
    });

    $('#prepage').click(function(){
      //上一页
      var _page = parseInt($('#currentpage').val());
      if(_page < 2){
        return;
      }
      var _next = _page-1;
      $('#currentpage').val(_next);
      $('#formgotonextpage').submit();
      

    })

    $('#nextpage').click(function(){
      //下一页
      var _page = parseInt($('#currentpage').val());
      var _next = _page+1;
      $('#currentpage').val(_next);
      $('#formgotonextpage').submit();
    })
  </script>
</body>

</html>
